<h2 class="page-header">Najnowsze Ogłoszenia</h2>

<form action="/posts" method="GET" class="search-form">
  <div class="form-row">
    <div class="form-item">
      <label for="search">Wyszukaj:</label>
      <input type="text" id="search" name="search" placeholder="Szukaj wg tytułu lub opisu" value="<%= search || '' %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="category">Kategoria:</label>
    <select id="category" name="category">
      <option value="">-- Wybierz kategorię --</option>
      <option value="Motoryzacja" <%= category === 'Motoryzacja' ? 'selected' : '' %>>Motoryzacja</option>
      <option value="Nieruchomości" <%= category === 'Nieruchomości' ? 'selected' : '' %>>Nieruchomości</option>
      <option value="Elektronika" <%= category === 'Elektronika' ? 'selected' : '' %>>Elektronika</option>
      <option value="Moda" <%= category === 'Moda' ? 'selected' : '' %>>Moda</option>
      <option value="Sport" <%= category === 'Sport' ? 'selected' : '' %>>Sport</option>
      <option value="Hobby" <%= category === 'Hobby' ? 'selected' : '' %>>Hobby</option>
      <option value="Usługi" <%= category === 'Usługi' ? 'selected' : '' %>>Usługi</option>
      <option value="Praca" <%= category === 'Praca' ? 'selected' : '' %>>Praca</option>
      <option value="Zwierzęta" <%= category === 'Zwierzęta' ? 'selected' : '' %>>Zwierzęta</option>
    </select>
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Szukaj</button>
  </div>
</form>

<br>

<%- include('_post_list') %>